<!-- pc/功能分类 -->
<div class="markets visible-lg-block visible-md-block" id="markets"
     style='background: url("${ctxPath}/static/images/pc/首页/功能分类.jpg") no-repeat 0px 0px;background-size:cover;padding: 0;height: 800px'>
    <div class="container">
        <div class="wthree-heading" style="margin-top: 50px">
            <span style="font-size: 40px;color: #ffffff;display: block">经典案例</span>
            <span style="font-size: 20px;color: #ffffff;display: block">FUNCTION</span>
        </div>
        <div class="box">

            <!--这里直接循环遍历-->
            @for(item in @functions.getResult()){
            <a href="/functionClass.html#${item.id}">
            <div class="item">
                <img class="backImg" src="${item.pic}">
                <div class="back">
                    <p class="title1">${item.functionClassName}</p>
                    <p class="title2">${item.englishName}</p>
                    <p class="title3">${item.productName}</p>
                </div>
                <div class="columnRowBox">
                    <div class="badge-top-box">
                        <div class="badge-row"></div>
                        <div class="badge-column"></div>
                    </div>
                    <div class="badge-bottom-box">
                        <div class="badge-row2"></div>
                        <div class="badge-column2"></div>
                    </div>
                </div>
            </div>
            </a>
            @}

        </div>

    </div>
</div>
<!-- //pc/功能分类 -->
<!-- 经典案例-->


<!--mobile -->

<!--//mobile -->